@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    font-family: 'Poppins' ;
}

header{
    z-index: 999;
    position: sticky;
    background: #aaa;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header .logo{
    color: #000;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation a{
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin-left: 30px;
}

header .navigation a:hover{
    color: none;
}


.btn-nav{
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn-nav:hover{
    background: #fff;
    color: #000;
}

body{
    position: relative;
    font-family: sans-serif;
    background-color: #aaa;
}

a{
    text-decoration: none;
    color: #fff;
}

.custom-shape-divider-bottom-1653257792 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653257792 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1653257792 .shape-fill {
    fill: #333;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calc-dark{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display{
    margin: 0 10px;
    height: 190px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 80px;
    width: 80px;
    border: 0;
    border-radius: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1);
}

.calc-dark{
    background-color: #000;
}

.calc-dark #display{
    color: #fff;
}

.calc-dark button{
    background-color: #333;
}

.calc-dark button#clear{
    color: #bd3740;
}

.calc-dark button.num-btn{
    color: #fff;
}

.calc-dark button.func-btn{
    color: lawngreen;
}

.calc-dark button.equal-btn{
    background-color: lawngreen;
    color: #fff;
}

