@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*========CSS VARIABLES===========*/
:root{
    --white-color: #fff;
    --dark-color: #1d201f;
    --body-bg-color: #fff;
    --section-bg-color: #000;
    --navigation-item-hover-color:

    --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);

    --scroll-bar-color: #000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth; */
}

section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .container{
    max-width: 800px;
}

.home .container h2{
    color: var(--white-color);
    font-size: 2em;
    font-weight: 500;
}

.home .container h2 span{
    font-size: 2.8em;
    font-weight: 600;
}

.text{
    position: relative;
    height: 70px;
}

.text h3{
    display: inline-flex;
    background-color: #f6f930;
    color: var(--dark-color);
    font-size: 2em;
    line-height: 50px;
    letter-spacing: 1px;
}

.media-icons{
    margin-top: 50px;
}

.media-icons a{
    color: var(--white-color);
    font-size: 25px;
    margin-right: 30px;
}
/* HEADER STARTS */
header{
    z-index: 999;
    position: sticky;
    background: var(--dark-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header .logo{
    color: #f6f930;
    font-size: 1.8em;
    font-weight: 700;
    /* text-transform: uppercase; */
    text-decoration: none;
    float: left;
    /* padding: 0; */
    margin: 0 -120px;
    /* display: block; */
}

header .navigation{
    position: relative;
    padding: 0;
    margin: 0 -100px;
    display: block;
    /* line-height: 75px; */
}

header .navigation a{
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    margin-left: 30px;
}

header .navigation a:hover{
    color: #f6f930;
}

header .navigation a.active {
    background-color: #f6f930;
    color: #000;
}

.btn{
    color: var(--dark-color);
    background-color: #3d3d3d;
    padding: 5px 10px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: 0.5s ease;
}

.btn:hover{
    background: var(--dark-color);
}
/* HEADER ENDS */

body{
    min-height: 110vh;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-title{
    position: relative;
    color:#000;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 60px;
}

.sec-title:before{
    content: '';
    position: absolute;
    top: 56px;
    left: 80px;
    width: 140px;
    height: 4px;
    background:#000;
    transform: translateX(-50%);
}

.about{
    background: #d4d2d5;
}

.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
    position: relative;
    width: 45%;
}

.about .content .col-left .img-profile {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-profile img{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.about .content .col-right .paragraph{
    font-size: 2em;
}

.sec-title-2{
    position: relative;
    color:#000;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 60px;
}

.sec-title-2:before{
    content: '';
    position: absolute;
    top: 56px;
    left: 110px;
    width: 140px;
    height: 4px;
    background:#000;
    transform: translateX(-50%);
}

.education .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.education .content .col-left{
    position: relative;
    width: 46%;
}

.education .content .col-right{
    position: relative;
    width: 46%;
}

.education .content .col-right .img-profile{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.education .content .col-right .img-profile img{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

.education .content .col-left li{
    font-size: 2em;
}

.skills{
    background-color:#3d3d3d;
}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.skills .content .col-left{
    position: relative;
    width: 46%;
}

.skills .content .col-left li{
    font-size: 2em;
}

.skills .content .col-right{
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 13px;
    background: #ccc;
    border-radius: 5px;
}

.skills .content .col-right .bar .line:before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.skills .content .col-right .bar .html:before{
    width: 70%;
    background: #e45126;
}

.skills .content .col-right .bar .css:before{
    width: 30%;
    background: #0c73b8;
}

.skills .content .col-right .bar .javascript:before{
    width: 10%;
    background: #e3a324;
}

.skills .content .col-right .bar .react:before{
    width: 5%;
    background: #6d7eb8;
}

.skills .content .col-right .bar .apis:before{
    width: 5%;
    background: #30dd6d;
}

.experience{
    background:#d4d2d5;
}

.sec-title-3{
    position: relative;
    color:#000;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 60px;
}

.sec-title-3:before{
    content: '';
    position: absolute;
    top: 56px;
    left: 130px;
    width: 140px;
    height: 4px;
    background:#000;
    transform: translateX(-50%);
}

.experience .content{
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.title p{
    color:#000;
    font-size: 1em;
    width: 80%;
}

.experience .content .side-card{
    background:var(--dark-color);
    width: 340px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.experience .content .side-card .experience-icon{
    color: #f6f930;
    font-size: 8em;
    text-align: center;
    transition: transform 0.5s ease;
}

.experience .content .side-card:hover .experience-icon{
    transform:translateY(10px)
}

.experience .content .side-card .info{
    text-align: center;
}

.experience .content .side-card .info h3{
    color: #f6f930;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
}

.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact .content .row .icon-card{
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
    border-radius: 10px;
}

.contact .content .row .icon-card .contact-icon{
    color: var(--dark-color);
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
}

.contact .content .row .icon-card:hover .contact-icon{
    transform: translateY(10px);
}

.contact .content .row .icon-card .info{
    text-align: center;
}

.contact .content .row .icon-card .info h3{
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .content .row .icon-card .info span{
    color: #3d3d3d;
    font-weight: 500;
}

.contact-form{
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
}

.contact-form h3{
    color: #000;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
    color: #000;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-box .send-btn{
    color: #000;
    background: #f6f930;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover{
    background: #f6f930;
}

/* FOR CLASS FOOTER */
.footer{
    background: var(--dark-color);
    color:#fff;
    text-align: center;
    padding: 0.75em;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

div .footer {
    height: 1rem;
}

.footer span{
    color: #f6f930;
}

.footer .footer-title{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.footer p{
    font-size: 16px;
    /* margin-top: 10px; */
    font-family: monospace;
}

.footer a{
    color: #f6f930;
    text-decoration: none;
}

.footer a:hover{
    color: white;
}


/* FOR FOOTER */
footer{
    background: var(--dark-color);
    color:#fff;
    text-align: center;
    padding: 0.75em;
    /* position: fixed; */
    width: 100%;
    left: 0;
    bottom: 0;
}

footer div {
    height: 2.5rem;
}

footer span{
    color: #f6f930;
}

footer .footer-title{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

footer p{
    font-size: 16px;
    /* margin-top: 10px; */
    font-family: monospace;
}

footer a{
    color: #f6f930;
    text-decoration: none;
}

footer a:hover{
    color: white;
}