<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/registration.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static',filename='./images/favicon/apple-touch-icon.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static',filename='./images/favicon/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static',filename='./images/favicon/favicon-16x16.png')}}"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Midas Blog | Sign Up</title>
  </head>
  <body>
    <!-----------------Header Section----------------->
    <header>
      <a href="{{url_for('dashboard')}}" class="logo">Midas Blog</a>
      <div class="navigation">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('dashboard')}}" class="btn">Home</a>
        <a href="{{url_for('about')}}" class="btn">About</a>
        <a href="{{url_for('contact')}}#contact" class="btn">Contact</a>
        <a href="" class="btn">New Post</a>
        <a href="{{url_for('logout')}}" class="btn">Logout</a>
        {% else %}
        <a href="{{url_for('dashboard')}}" class="btn">Home</a>
        <a href="{{url_for('about')}}" class="btn">About</a>
        <a href="{{url_for('contact')}}#contact" class="btn">Contact</a>
        <a href="{{url_for('login')}}" class="btn">Login</a>
        <a href="{{url_for('register')}}" class="btn active">Sign Up</a>
        {% endif %}
      </div>
    </header>

    <!-----------------Main Section----------------->
    
    <section class="container">
      <div class="forms-container">
          <div class="signin-signup">
              <form 
                  action="{{url_for('register')}}"
                  method="POST" class="Registration form">
                  <h2 class="title">Registration Form</h2><br>
                  <!-- error flash message -->
                  {% with error = get_flashed_messages(category_filter=["error"]) %}
                  {% if error %}
                  <div class="error-flash">
                    {% for message in error %}
                    <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}
                  <!-- end error flash -->
  
                  <!-- success flash message -->
                  {% with success = get_flashed_messages(category_filter=["success"]) %}
                  {% if success %}
                  <div class="success-flash">
                    {% for message in success %}
                    <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}
  
                  <!-- end success flash message -->
  
                <span class="span">Please enter your details below</span>
                  <div class="input-field">
                      <i class="uil uil-user"></i>
                      <input type="text" name="username" class="username user-control" placeholder="Username" required>
                  </div>
                  <div class="input-field">
                      <i class="uil uil-envelope"></i>
                      <input type="email" name="email" class="email user-control" placeholder="Email Address" required>
                  </div>
                  <div class="input-field">
                      <i class="uil uil-lock"></i>
                      <input type="password" name="password" class="password" placeholder="Password" required>
                  </div>
                  <div class="input-field">
                      <i class="uil uil-lock"></i>
                      <input type="password" name="confirm-password" class="confirm-password" placeholder="Confirm Password" required>
                  </div>
                      <span class="span">
                          <div class="conditions">
                          <label><input type="checkbox" name="checkbox" value="True"> I agree with all the <a class="tnc" href="#">Terms and Conditions</a></label>
                          </div>
                      </span>
                      <input type="submit" value="Register" class="bttn solid">
              </form>
          </div>
      </div>
      <div class="panels-container">
          <div class="panel left-panel">
              <div class="content">
                  <h3>New here ?</h3>
                  <p>Register and experience the Midas touch! You don't want to miss out!</p>
              </div>
  
              <img src="{{url_for('static', filename="./images/login.png")}}" class="image" alt="image">
          </div>
  </section>
  

    <!-----------------Footer Section----------------->
    <footer>
      <div class="">
        <span class="footer-title"
          >Created with &#10084;&#65039; by
          <a
            href="https://github.com/ErikMidas"
            target="_blank"
            rel="noopener noreferrer"
            >Ayodeji O.</a
          ></span
        >
        <p>
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Midas Blog. All Rights Reserved by <span>Midas Blog.</span>
        </p>
      </div>
    </footer>
  </body>
</html>
